@model App_MEF_Expedientes.Areas.Maestras.Models.ExpedientesModelView

@{
    ViewBag.Title = "Index";
}
<link href="~/assets/Switch_Toggle.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Js/Remove.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Maestras/Expedientes.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Maestras/Adjuntos.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        //Remove_RemoverClases("liExpedientes");
        $('#Grilla_Load').show();
        Remove_RemoverClases("liExpedientes");
        setTimeout("Expedientes_ConfigurarGrilla();", 200);
    });

    $("#btnLimpiarExpedientes").click(function (e) {
        LimpiarExpedientes();
    });

    $("#btnNuevoExpedientes").click(function (e) {
        Expedientes_Nuevo();
    });

    jQuery('#btnBuscarExpedientes').click(function (e) {
        Expedientes_ConfigurarGrilla();
    });




</script>


<div class="modal fade" id="myModalNuevo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"></div>

<div id="Grilla_Load" hidden="hidden" class="blockUI blockMsg blockPage " style="z-index: 1070; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 3px solid rgb(170, 170, 170); background-color: rgb(255, 255, 255); cursor: wait;">
    <h5>
        <img style="height: 20px" src="@Url.Content("~/assets/images/loading.gif")">
        Cargando Regitros...
    </h5>
</div>


<div class="tab-content">

    <div id="panel_tab_1" class="tab-pane active">
        <div class="col-sm-12 inline-container-Group">
            <p class="modal-title" style="color: #999; font-size: 15px; margin-bottom: 5px; margin-top: -5px">Criterios de búsqueda: </p>
            <fieldset style="width: 100%;">
                <div class="row">
                    <div class="col-sm-1">
                        <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; margin-top: 5px; text-align: right;">Nr. Expediente:</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="txt_Expediente" name="txt_Expediente" maxlength="30" class="form-control" style="width: 100%" />
                    </div>
                    <div class="col-sm-1">
                        <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; margin-top: 5px; text-align: right;">Dni:</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="txt_dni" name="txt_dni" maxlength="30" class="form-control" style="width: 100%" />
                    </div>

                    <div class="col-sm-1">
                        <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; margin-top: 5px; text-align: right;">Situación:</label>
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(x => x.ID_SITUACION_SEARCH, Model.Lista_Situacion, new { @class = "form-control", @maxlength = "50", @style = "width:100%" })
                    </div>


                    <div class="col-sm-1">
                        <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; margin-top: 5px; text-align: right;">Estado:</label>
                    </div>
                    <div class="col-sm-2">
                        @Html.DropDownListFor(x => x.ID_ESTADO_SEARCH, Model.Lista_Estado, new { @class = "form-control", @maxlength = "50", @style = "width:100%" })
                    </div>
                    <br />
                    <br />
                    <br />

                    <div class="col-sm-1">
                        <label class="col-sm-15 control-label" for="form-field-1" style="width: 100%; margin-top: 5px; text-align: right;">Estado Registro:</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="CBOESTADO" class="form-control">
                            <option value="">--Seleccione--</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>


                    <div class="col-sm-3">
                        <button id="btnBuscarExpedientes" class="btn btn-red" type="button"><i class="clip-search"></i>&nbsp  Buscar</button>
                        <button id="btnLimpiarExpedientes" class="btn btn-grey" type="button"><i class="clip-undo" />&nbsp Limpiar</button>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="row">
            <div class="col-sm-7" style="margin-top: 10px">
                <button id="btnNuevoExpedientes" class="btn btn-red" type="button" data-toggle="modal" data-target="#myModalNuevo"><i class="fa fa-plus"></i>&nbsp  Nuevo Expediente </button>
            </div>
            <div class="col-sm-12" style="margin-top: 10px">
                <div class="jqGrid">
                    <table id="Expedientes_grilla">
                    </table>
                    <div id="Expedientes_barra"></div>
                </div>
               
            </div>

            <div class="col-sm-12" style=" margin-top: 2px; ">
                <div class=" inline-container-Group">
                    <p style=" font-weight: bold; font-size: 15px; text-decoration: underline;">Leyenda:</p> <br />
                    <div class="Ley_content" style="display:flex;"> <span style="  width: 17px;  height: 17px; background:#F3DC16;display:block;margin-right:5px;"></span> <p>expedientes con mâs de 300 dias de prescripción. </p></div>    
                    </div>
                </div>
            </div>
        </div>



</div>


